{{- if .Messages }}
{{- if .System }}{{ .System }}

{{ end }}
{{- range .Messages }}
{{- if eq .Role "user" }}@@ Instruction
{{- else if eq .Role "assistant" }}@@ Response
{{- end }}
{{ .Content }}

{{ end }}@@ Response
{{ else -}}
{{ if .System }}{{ .System }}

{{ end }}{{ if .Prompt }}@@ Instruction
{{ .Prompt }}

{{ end }}@@ Response
{{ .Response }}

{{ end -}}