# General
.DS_Store
.vscode
.env
.venv
.swp
dist
build
.cache
.gocache
*.exe
.idea
test_data
*.crt

# Golang and Ollama
__debug_bin*
llama/build
llama/vendor
/ollama

# FFmpeg build artifacts
third_party/ffmpeg/build/
third_party/ffmpeg/install/
