.DS_Store
.vscode
.env
.venv
.swp
dist
build
.cache
.gocache
*.exe
.idea
test_data
*.crt
__debug_bin*
llama/build
llama/vendor
/ollama
*.gguf
logs/prueba2
logs/prueba1
logs/funciona
logs/prueba3
logs/crash
.ccache/


temp_pr12654.patch
