fastapi
uvicorn[standard]
pydantic
python-multipart

flask
flask_cors

python-socketio
python-jose
passlib[bcrypt]
uuid

requests
aiohttp
peewee
bcrypt

torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu

langchain
langchain-community
chromadb
sentence_transformers
pypdf
docx2txt

PyJWT
pyjwt[crypto]

black