pkgbase = ollama-turboquant-git
	pkgdesc = Create, run and share large language models (LLMs) - TurboQuant fork
	pkgver = 0.30.8.r4.gd66fc63
	pkgrel = 1
	url = https://github.com/nomadstar/ollama
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = go
	makedepends = cuda
	makedepends = vulkan-headers
	makedepends = rocm-hip-sdk
	makedepends = rocm-opencl-sdk
	depends = libgcc
	depends = libstdc++
	depends = glibc
	options = !lto
	source = git+https://github.com/nomadstar/ollama.git#branch=turboquant
	source = ollama.service
	source = sysusers.conf
	source = tmpfiles.conf
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = ollama-turboquant-cuda-git
	pkgdesc = Create, run and share large language models (LLMs) - TurboQuant fork with CUDA
	depends = libgcc
	depends = libstdc++
	depends = glibc
	depends = cuda
	provides = ollama
	provides = ollama-turboquant-git
	conflicts = ollama
	conflicts = ollama-turboquant-git
	conflicts = ollama-turboquant-vulkan-git
	conflicts = ollama-turboquant-rocm-git

pkgname = ollama-turboquant-vulkan-git
	pkgdesc = Create, run and share large language models (LLMs) - TurboQuant fork with Vulkan
	depends = libgcc
	depends = libstdc++
	depends = glibc
	depends = vulkan-driver
	depends = vulkan-icd-loader
	provides = ollama
	provides = ollama-turboquant-git
	conflicts = ollama
	conflicts = ollama-turboquant-git
	conflicts = ollama-turboquant-cuda-git
	conflicts = ollama-turboquant-rocm-git

pkgname = ollama-turboquant-rocm-git
	pkgdesc = Create, run and share large language models (LLMs) - TurboQuant fork with ROCm
	depends = libgcc
	depends = libstdc++
	depends = glibc
	depends = rocm-hip-runtime
	provides = ollama
	provides = ollama-turboquant-git
	conflicts = ollama
	conflicts = ollama-turboquant-git
	conflicts = ollama-turboquant-cuda-git
	conflicts = ollama-turboquant-vulkan-git
