#include <winver.h>

#ifndef OLLAMA_VERSION_MAJOR
#define OLLAMA_VERSION_MAJOR 0
#define OLLAMA_VERSION_MINOR 0
#define OLLAMA_VERSION_PATCH 0
#endif

#define OLLAMA_VERSION_NUMBER OLLAMA_VERSION_MAJOR,OLLAMA_VERSION_MINOR,OLLAMA_VERSION_PATCH,0
#define OLLAMA_STRINGIFY_INNER(value) #value
#define OLLAMA_STRINGIFY(value) OLLAMA_STRINGIFY_INNER(value)
#define OLLAMA_VERSION_STRING OLLAMA_STRINGIFY(OLLAMA_VERSION_MAJOR) "." OLLAMA_STRINGIFY(OLLAMA_VERSION_MINOR) "." OLLAMA_STRINGIFY(OLLAMA_VERSION_PATCH) ".0"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION OLLAMA_VERSION_NUMBER
 PRODUCTVERSION OLLAMA_VERSION_NUMBER
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Ollama"
            VALUE "FileVersion", OLLAMA_VERSION_STRING
            VALUE "InternalName", "Ollama"
            VALUE "OriginalFilename", "ollama app.exe"
            VALUE "ProductName", "Ollama"
            VALUE "ProductVersion", OLLAMA_VERSION_STRING
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
