# Build directories
build/
dist/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store
*.dSYM/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Python
*.npy

/engine
weights
outputs

prompt.txt
negative.txt
